* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

#title span {
    background: linear-gradient(90deg, #2196f3, #7b1fa2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif
}

button {
    padding: 20px;
    background: #2196f3;
    color: white;
    border: 1px solid #2196f3;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}

button.active {
    color: #2196f3;
    background: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 26px;
    background: white;
    border-radius: 10px;
}

.container .title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 24px
}

.option {
    flex: 1;
    text-align: center;
}

.option-icon {
    font-size: 30px;
    color: #0066ff;
    margin-bottom: 20px;
}

.option-button {
    padding: 15px;
    border: 2px solid #0066ff;
    border-radius: 8px;
    background-color: white;
    color: #0066ff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.option-button:hover {
    background-color: #f0f7ff;
}

.option-button.active {
    background-color: #0066ff;
    color: white;
}

@media (max-width: 768px) {
    .options {
        flex-direction: column;
    }
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#voice-detection, #face-detection {
    font-size: 16px;
    font-weight: 600;
}

.not-loaded {
    background-color: black;
}